body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #f98125;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

.about-section {
    background-color: #fff;
    color: #333;
}

.contact-section {
    background-color: #2c599d;
    color: #fff;
    padding-bottom: 40px;
}

h2 {
    margin-top: 0;
}

p {
    line-height: 1.5;
}

.contact-form label {
    display: block;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

.contact-form button {
    background-color: #fff;
    color: #2c599d;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
