body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #2C599D;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #5B84C4;
    border-radius: 5px;
}

header {
    text-align: center;
    padding: 30px;
    background-color: #C9DBF6;
    margin-bottom: 20px;
}

.feeling {
    text-align: center;
    margin: 30px 0;
}

.feeling input[type="text"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #5B84C4;
    border-radius: 4px;
}

.connect,
.get-help,
.not-sure {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

.connect {
    background-color: #C9DBF6;
}

.get-help {
    background-color: #F98125;
}

.not-sure {
    background-color: #5B84C4;
}

.connect a,
.get-help a,
.not-sure a {
    color: white;
    text-decoration: none;
}

.connect a:hover,
.get-help a:hover,
.not-sure a:hover {
    text-decoration: underline;
}