<!DOCTYPE html>
<html>
  <head>
    <title>SafeSpace - Home</title>
    <link rel="stylesheet" href="homepage.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Therapy</a></li>
        <li><a href="#">Test</a></li>
        <li><a href="#">Hub</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Account</a></li>
      </ul>
    </nav>
    <header>
      <h1 style="color:#2C599D;">Hey Faridat</h1>
      <p style="color:#5B84C4;">Why not express your feelings?</p>
    </header>
    <main>
      <div class="feeling">
        <h2 style="color:#5B84C4;">How do you feel?</h2>
        <input type="text" placeholder="Type your feelings here...">
      </div>
      <div class="connect">
        <h3 style="color:#2C599D;">Sad?</h3>
        <p style="color:#5B84C4;">Connect to a listener</p>
      </div>
      <div class="get-help">
        <h3 style="color:#2C599D;">Hollow?</h3>
        <p style="color:#2C599D;">Get help from a professional</p>
      </div>
      <div class="not-sure">
        <h3 style="color:#C9DBF6;">Not sure?</h3>
        <p style="color:#C9DBF6;">Take an assessment tool</p>
      </div>
    </main>
  </body>
</html>
