<!DOCTYPE html>
<html>
  <head>
    <title>SafeSpace - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
  </head>
  <body>

    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('therapists') }}">Therapy</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Social Hub</a></li>
        <li><a href="#">Journaling</a></li>
        <li><a href="#">Account</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </nav>
    <header>
      <h1 style="color:#2C599D;">Hey {{ current_user.first_name }}</h1>
      <p style="color:#5B84C4;">Why not express your feelings?</p>
    </header>
    <main>
      <div class="feeling">
        <h2 style="color:#5B84C4;">How do you feel?</h2>
        <input type="text" placeholder="Type your feelings here...">
      </div>
      <div class="connect">
        <h3 style="color:#2C599D;">Sad?</h3>
        <p style="color:#5B84C4;">
          <a href="#">
            <button>Connect to a listener.</button>
          </a>
        </p>
      </div>
      <div class="get-help">
        <h3 style="color:#2C599D;">Hollow?</h3>
        <p style="color:#2C599D;"> <a href="{{ url_for('therapists') }}">Get help from a professional.</a></p>
      </div>
      <div class="not-sure">
        <h3 style="color:#C9DBF6;">Not sure?</h3>
        <p style="color:#C9DBF6;"><a href="{{ url_for('therapists') }}">Take an assessment.</a></p>
      </div>
    </main>
  </body>
</html>


