<!DOCTYPE html>
<html>
  <head>
    <title>SafeSpace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <h1>Welcome to SafeSpace</h1>
      </div>
      <p>SafeSpace is a web application designed to help young adults and adolescents navigate mental distress. The app provides tools, exercises, resources, and a community to help alleviate mental distress.</p>
      <p>To get started, sign up or log in.</p>
      <div class="button-container">
        <a href="{{ url_for('signup') }}" class="btn auth-btn">Sign Up</a>
        <span class="separator">or</span>
        <a href="{{ url_for('login') }}" class="btn auth-btn">Log In</a>
      </div>
      <p><a href="{{ url_for('therapists') }}">Get help from professionals</a></p>
    </div>
  </body>
</html>







