<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeSpace -  Resources</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/safe-favicon.svg') }}" type="image/svg+xml">

    <!-- custom css link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='resources.css') }}">

    <!-- 
    - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">


</head>

<body>

    <!-- 
    - #PRELOADER
    -->

    <div class="loading-container" data-loading-container>
        <div class="loading-circle"></div>
    </div>





    <!-- 
    - #HEADER
    -->

    <header class="header" data-header>
        <div class="container">

            <a href="#" class="logo">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" width="148" height="38" alt="SafeSpace Logo">
            </a>

            <nav class="navbar" data-navbar>
                <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
                    <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
                </button>

                <a href="#" class="logo">
                    <img src="{{ url_for('static', filename='images/logo.svg') }}" width="148" height="38" alt="SafeSpace Logo">
                </a>

                <ul class="navbar-list">

                    <li class="navbar-item">
                        <a href="#" class="navbar-link" data-nav-link>Home</a>
                    </li>

                    <li class="navbar-item">
                        <a href="#" class="navbar-link" data-nav-link>About</a>
                    </li>

                    <li class="navbar-item">
                        <a href="#" class="navbar-link" data-nav-link>Features</a>
                    </li>

                    <li class="navbar-item">
                        <a href="#" class="navbar-link" data-nav-link>Team</a>
                    </li>

                </ul>
            </nav>

            <div class="header-action">


                <a href="{{ url_for('logout') }}" class="btn btn-primary has-after">Log Out</a>
            </div>

            <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
                <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
            </button>

            <div class="overlay" data-overlay data-nav-toggler></div>

        </div>
    </header>

    

    <main>
        <article>

            <!-- 
                - # RESOURCES
            -->



            <section class="section resources" aria-labelledby="resources-label">
                <div class="container">
            
                    <h2 class="section-title headline-md text-center" id="resources-label">Latest Resources</h2>
            
                    <ul class="resources-list">
            
                        <li>
                            <div class="resources-card">
            
                                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                                    <img src="./assets/images/resources-1.jpg" width="800" height="540" loading="lazy"
                                        alt="Managing stress and building resilience" class="img-cover">
            
                                    <a href="#" class="btn-icon"
                                        aria-label="More about Managing stress and building resilience">
                                        <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                                    </a>
                                </div>
            
                                <div class="card-content">
            
                                    <span class="chip label-md">Article</span>
            
                                    <h3 class="title-md">Managing stress and building resilience </h3>
            
                                    <p class="card-text">
                                        Managing stress and building resilience are crucial aspects of maintaining overall well-being. In today's fast-paced and demanding world, stress has become a common experience for many individuals. However, it is essential to develop effective strategies to manage stress and cultivate resilience, as they play a significant role in our ability to cope with life's challenges.
                                    </p>
            
                                    <a href="https://www.mind.org.uk/information-support/types-of-mental-health-problems/stress/managing-stress-and-building-resilience/" target="#" class="btn btn-primary has-after">Read More</a>
            
                                </div>
            
                            </div>
                        </li>

                        <li>
                            <div class="resources-card">
            
                                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                                    <img src="./assets/images/resources-1.jpg" width="800" height="540" loading="lazy"
                                        alt="Managing stress and building resilience" class="img-cover">
            
                                    <a href="#" class="btn-icon"
                                        aria-label="More about Managing stress and building resilience">
                                        <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                                    </a>
                                </div>
            
                                <div class="card-content">
            
                                    <span class="chip label-md">Article</span>
            
                                    <h3 class="title-md">Managing stress and building resilience </h3>
            
                                    <p class="card-text">
                                        Cultivating emotional wellness is essential for maintaining a healthy and balanced life. Emotional wellness refers to the ability to understand and manage our emotions effectively, as well as develop healthy coping mechanisms for various life situations. To cultivate emotional wellness, there are several strategies that can be beneficial.
                                    </p>
            
                                    <a href="https://www.psychologytoday.com/us/blog/click-here-happiness/202101/9-ways-cultivate-emotional-wellness" target="#" class="btn btn-primary has-after">Read More</a>
            
                                </div>
            
                            </div>
                        </li>

                        <li>
                            <div class="resources-card">
            
                                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                                    <img src="./assets/images/resources-1.jpg" width="800" height="540" loading="lazy"
                                        alt="Managing stress and building resilience" class="img-cover">
            
                                    <a href="#" class="btn-icon"
                                        aria-label="More about Managing stress and building resilience">
                                        <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                                    </a>
                                </div>
            
                                <div class="card-content">
            
                                    <span class="chip label-md">Article</span>
            
                                    <h3 class="title-md">How to overcome anxiety</h3>
            
                                    <p class="card-text">
                                        Overcoming anxiety is a journey that requires understanding and implementing effective strategies to manage anxious thoughts and feelings. Anxiety is a common mental health condition characterized by excessive worry, fear, and unease. While everyone experiences anxiety to some extent, persistent and overwhelming anxiety can interfere with daily life. Fortunately, there are strategies to help overcome anxiety.
                                    </p>
            
                                    <a href="https://www.verywellmind.com/breaking-the-anxiety-cycle-1392987" target="#" class="btn btn-primary has-after">Read More</a>
            
                                </div>
            
                            </div>
                        </li>
            
                    </ul>
            
                </div>
            </section>


        </article>
    </main>


    <!-- 
        - #FOOTER
    -->
    
    <footer class="footer">
        <div class="container">
    
            <div class="section footer-top grid-list">
    
                <div class="footer-brand">
    
                    <a href="#" class="logo">
                        <img src="{{ url_for('static', filename='images/logo-footer.svg') }}" width="148" height="38" alt="SafeSpace - Home">
                    </a>
    
                    <h2 class="h2 section-title">Your Online Haven</h2>
    
                    <p class="section-text">
                        SafeSpace - A Mobile and Web Application Helping Young People Navigate Through Emotional Distress.
                    </p>
    
                </div>
    
                <ul class="footer-list">
    
                    <li>
                        <p class="footer-list-title h5">Menu</p>
                    </li>
    
                    <li>
                        <a href="#" class="footer-link">
                            <span class="span">Home</span>
    
                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>
                    </li>
    
                    <li>
                        <a href="#" class="footer-link">
                            <span class="span">About</span>
    
                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>
                    </li>
    
                    <li>
                        <a href="#" class="footer-link">
                            <span class="span">Features</span>
    
                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>
                    </li>
    
                    <li>
                        <a href="#" class="footer-link">
                            <span class="span">Team</span>
    
                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>
                    </li>
    
                </ul>
    
                <ul class="footer-list">
    
                    <li>
                        <p class="footer-list-title h5">Contacts</p>
                    </li>
    
                    <li>
                        <address class="address">
                            <ion-icon name="location" aria-hidden="true"></ion-icon>
    
                            <span class="span">Captain Kia Street, Road 789</span>
                        </address>
                    </li>
    
                    <li>
                        <a href="mailto:hello@safespace.app" class="footer-link">
                            <ion-icon name="mail" aria-hidden="true"></ion-icon>
    
                            <span class="span">hello@safespace.app</span>
                        </a>
                    </li>
    
                    <li>
                        <a href="tel:+233 245645968" class="footer-link">
                            <ion-icon name="call" aria-hidden="true"></ion-icon>
    
                            <span class="span">+233 245645968</span>
                        </a>
                    </li>
    
                    <li>
                        <ul class="social-list">
    
                            <li>
                                <a href="#" class="social-link">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </a>
                            </li>
    
                            <li>
                                <a href="#" class="social-link">
                                    <ion-icon name="logo-instagram"></ion-icon>
                                </a>
                            </li>
    
                            <li>
                                <a href="#" class="social-link">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </a>
                            </li>
    
                        </ul>
                    </li>
    
                </ul>
    
            </div>
    
            <div class="footer-bottom">
    
                <p class="copyright">
                    Copyright 2023 Team SafeSpace - Kibo. All rights reserved.
                </p>
    
            </div>
    
        </div>
    </footer>




    <!-- custom js link -->
    <script src="{{ url_for('static', filename='landing_page.js') }}"></script>

    <!-- 
    - ionicon link
    -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
