


<!-- Articles -->
<h2>Articles</h2>
<ul>
{% for r in resource %}
    {% if r.media_type == 'article' %}
        <li>
            <h3>{{ r.name }}</h3>
            <a href="{{ r.link }}" target="_blank">Read More</a>
        </li>
    {% endif %}
{% endfor %}
</ul>

<!-- Videos -->
<h2>Videos</h2>
<ul>
{% for r in resource %}
    {% if r.media_type == 'video' %}
        <li>
            <h3>{{ r.name }}</h3>
            <div>
                <iframe width="560" height="314" src="{{"https://www.youtube.com/embed/rkZl2gsLUp4" }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </li>
    {% endif %}
{% endfor %}
</ul>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resources</title>
</head>
<body>
    <h1>Resources</h1>
    
    <h2>Articles</h2>
    <ul>
    {% for res in resource %}
        {% if res.media_type == 'article' %}
            <li><a href="{{ res.link }}">{{ res.name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>

    <h2>Videos</h2>
    <ul>
    {% for res in resource %}
        {% if res.media_type == 'video' %}
            <li><a href="{{<iframe width="560" height="315" src="https://www.youtube.com/embed/chE00kGtg48" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> }}">{{ 6 ways to cure depression }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>

    <h2>Online Courses</h2>
    <ul>
    {% for res in resource %}
        {% if res.media_type == 'course' %}
            <li><a href="{{ res.link }}">{{ res.name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</body>
</html>

