{% extends "layout.html" %}

{% block content %}
    <h1>Resources</h1>
    {% for resource in resources %}
        <div>
            <h2>{{ resource.name }}</h2>
            <p>Media Type: {{ resource.media_type }}</p>
            <p>Category: {{ resource.category }}</p>
            {% if resource.media_type.lower() == 'video' %}
                <div>
                    <iframe width="560" height="315" src="{{ resource.link }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {% elif resource.media_type.lower() == 'article' %}
                <div>
                    <a href="{{ resource.link }}">Read Article</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
