<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Therapists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='therapist2.css') }}">
</head>
<body>

    <div class="header">
        <h1>Therapists</h1>
    </div>


    <div class="therapist-container">
        {% for therapist in therapists %}
        <div class="therapist-card">
            <img src="{{ url_for('static', filename=therapist.image) }}" alt="{{ therapist.name }}" />
            <h2>{{ therapist.name }}</h2>
            <p>{{ therapist.credentials }}</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSc1ywjYgeQYRtwkM8toJzbrLLB6aRpgztSCyzRTIjarxApIVQ/viewform?usp=pp_url" target="_blank">
                <button>Book a session now!</button>
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>


     
